---
chats: [
    {"avatarUrl": "/", "username": "username", "lastMsg": "The text of last message"},
    {"avatarUrl": "/", "username": "username", "lastMsg": "The text of last message"},
    {"avatarUrl": "/", "username": "username", "lastMsg": "The text of last message"},
    {"avatarUrl": "/", "username": "username", "lastMsg": "The text of last message"},
    {"avatarUrl": "/", "username": "username", "lastMsg": "The text of last message"},
    {"avatarUrl": "/", "username": "username", "lastMsg": "The text of last message"},
    {"avatarUrl": "/", "username": "username", "lastMsg": "The text of last message"},
]

messages: [
    {"from": 0, "text": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin aliquet euismod porttitor. Donec porta, lectus a ornare egestas, quam arcu hendrerit justo, a malesuada neque purus nec elit. Sed facilisis fringilla nulla, non commodo ipsum. In hac habitasse platea dictumst. Praesent non leo facilisis, hendrerit sapien efficitur, laoreet mauris. Nam vitae blandit diam. Nam auctor est mauris, a dapibus erat egestas quis. Fusce eu porta turpis. Proin quis erat est. Duis et turpis consectetur, rhoncus erat nec, porttitor dui."},
    {"from": 0, "text": "Cras dolor neque, aliquam id sagittis vitae, maximus eget nunc. Curabitur egestas, mi sit amet tincidunt placerat, mauris sapien suscipit sapien, eget aliquam magna mauris nec odio. Etiam vel urna eget quam fringilla convallis id vitae sem."},
    {"from": 1, "text": "Cras quam ligula, pretium a erat nec, bibendum accumsan arcu. Curabitur nunc ante, tincidunt sit amet nibh at, ullamcorper volutpat mi. Donec a vestibulum nisi, vel placerat quam. Quisque et velit rutrum, aliquam urna ac, varius justo."},
    {"from": 1, "text": "Donec sollicitudin hendrerit enim, et eleifend velit sagittis eget. Vivamus interdum pretium nisi, vel ornare sapien ornare ac. Phasellus vulputate nisl non sodales dignissim. Vestibulum justo felis, gravida a ultrices at, pulvinar sed purus. Curabitur commodo velit mi, ac malesuada eros luctus quis."},
    {"from": 0, "text": "Vivamus et aliquam turpis. Nullam ultrices, quam in tristique aliquam, justo elit commodo nisi, sed mollis tortor ligula quis sapien. Donec vehicula sed quam sit amet ultrices."}
]
---

<head>
    <link rel="stylesheet" href="./chat/style.scss" />
</head>
<body>
    <div class="container">
        <div class="chatList">
            <div class="header">
                <div class="settings">
                    <div class="avatar"></div>
                    <a href="Settings.hbs">Settings</a>
                    <button>+</button>
                </div>
                <input type="text" placeholder="Find chat">
            </div>
            <ul>
                {{#each chats}}
                    <li>
                        <div class="avatar" style="background-image: '{{this.avatarUrl}}'"></div>
                        <div class="content">
                            <h2>{{this.username}}</h2>
                            <p>{{this.lastMsg}}</p>
                        </div>
                    </li>
                {{/each}}
            </ul>
        </div>
        <div class="chatContent">
            <div class="header">
                <div class="avatar"></div>
                <h2>username</h2>
                <div class="settingsOfChat">
                </div>
            </div>
            <div class="messages">
                <section class="wrapper">
                    {{#each messages}}
                        {{#if this.from}}
                            <div>{{this.text}}</div>
                        {{else}}
                            <div class="userMsg">{{this.text}}</div>
                        {{/if}}
                    {{/each}}
                </section>
            </div>
            <div class="footer">
                <input placeholder="Message">
                <button class="sendBtn">
                    <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M3.43558 11.4939C3.16282 11.1822 3.1944 10.7083 3.50613 10.4356L11.5061 3.43557C11.7889 3.18814 12.2111 3.18814 12.4939 3.43557L20.4939 10.4356C20.8056 10.7083 20.8372 11.1822 20.5644 11.4939C20.2917 11.8056 19.8179 11.8372 19.5061 11.5644L12.75 5.65283L12.75 20C12.75 20.4142 12.4142 20.75 12 20.75C11.5858 20.75 11.25 20.4142 11.25 20L11.25 5.65283L4.49389 11.5644C4.18216 11.8372 3.70834 11.8056 3.43558 11.4939Z"/>
                    </svg>  
                </button>
            </div>
        </div>
    </div>
</body>